@{
    ViewBag.Title = "Intelligent Feedback";
}

<div style="width:1000px; margin:0 auto;">
    <h1 style="text-align:center">Intelligent Feedback-Applying artificial intelligence to the outside counsel feedback process</h1>
    <p class="lead">You can get the source code for this project, including the data file and and Power BI file here: https://aka.ms/legalops-intelligentfeedback-source <br/> Note that you will need an Azure account to use the text analytics cognitive service included in this recipe.</p>

    <iframe width="933" height="700" src="https://msit.powerbi.com/view?r=eyJrIjoiMjUwN2NmMTgtZGY2YS00ZTEwLWJjZTctZTc3MWZiYmJmMGFjIiwidCI6IjcyZjk4OGJmLTg2ZjEtNDFhZi05MWFiLTJkN2NkMDExZGI0NyIsImMiOjV9" frameborder="0" allowFullScreen="true"></iframe>
</div>